[Unit]
Description=Flask app to convert coralogix alerts to nagios api
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/coralogix-nagios-connector
EnvironmentFile=/home/ubuntu/coralogix-nagios-connector/nagios-nest.config
ExecStart=/usr/bin/python3 nagios-alert-listener.py
Restart=always

[Install]
WantedBy=multi-user.target